html{
margin:0px;
padding:0px;
width:100%;
height:960px;
}

body{
margin:0px;
padding:0px;
width:100%;
height:auto;
}

.title{
margin-left:200px;
color:gray;
font-family: 'Caudex', sans-serif;
font-size: 1.2em;
max-width: 100%;
position: absolute;

}

#subreddittext{
width:200px;
height:40px;
margin: 20px 200px;
margin-right: 15px;
margin-bottom: 0px;
padding: 5px;
float:left;
}

.subredditcontainer{
height:100px;
width:200px;
max-width: 100%;
position: absolute;
top:30%;
}

.subredditcontainer ul{
list-style: none;
padding-left:5px;
padding-right:10px;
padding-top: 5px;
}

.subredditcontainer ul li{
text-align:center;
padding:10px;
margin:5px auto;
background:lightgray;
font-weight: bold;
cursor: pointer;
border-radius: 4px;
z-index: 200;
}

.subredditcontainer ul li:hover{

background:darkgray;

}


#closeitem{
position: absolute;
top:0;
right:0;
padding:4px;
}

#closeitem:hover{
color:whitesmoke;
}

#inputwrapper{
width:100%;
margin:50px auto;
display:inline-block;
position: relative;

}

#inputwrapper button{
float:left;
margin:20px auto;
width:80px;
height:40px;
background:ghostwhite;
border:none;
font-size: 1.5em;
font-weight: bold;
box-shadow: 0.1px 0.1px;
}

#inputwrapper button:hover{
background: whitesmoke;

}

.page{
position:relative;
display:block;
float:left;
font-size: 1em;
font-weight: bold;
margin-top:-10px;
}

#pagenav{
width:100%;;
height:40px;
background:none;
margin:0px auto;

}



.nextpage{

right:0;
margin:0px auto;
right:235px;
padding:5px;
cursor: pointer;
display:block;
z-index:200;
background-image: url(/img/circle-right.svg);
background-size: cover;
position: absolute;
width:30px;
height:30px;
}

.previouspage{
float:left;
left:0;
margin:0px auto;
margin-left:235px;
padding:5px;
cursor: pointer;
display:block;
z-index:200;
background-image: url(/img/circle-left.svg);
background-size: cover;
position: absolute;
width:30px;
height:30px;
}

.nextpage:hover, .previouspage:hover{
opacity:0.5;
display:block;

}

#placeholderdiv{
width:60%;
height:400px;
background:ghostwhite;
z-index: 100;
position: relative;
margin:0 auto;
padding:0px;
display: block;
}

#placeholderdiv h2{
position:absolute;
margin:0px auto;
width:400px;
text-align: center;
right:0;
left:0;
top:20%;
}

#placeholderdiv h4{
position:absolute;
margin:0px auto;
width:400px;
text-align: center;
right:0;
left:0;
top:30%;
font-size: 0.8em;
}

#rtitle{
position:absolute;
left:0;
right:0;
text-align: center;
font-size: 1.5em;
line-height: 0em;
font-family: 'Josefin Sans', sans-serif;
font-weight: bold;
}

#rtitle:before{
content: "r/";

}

.maincontain{
width:100%;
height:100%;
position:relative;
}

#listcontain{
width:60%;
height:400px;
background:whitesmoke;
position: relative;
margin:0px auto;
text-align: center;
max-width: 100%;
    
}

.imagelist{
height:auto;
margin:0px auto;
width:60%;
background: ghostwhite;
position: absolute;
padding:0px;
list-style: none;
max-width: 100%;
left:0;
right:0;
}

.imagelist li{
cursor: pointer;
background: none;
width:33.3%;
height:200px;
float:left;
position: relative;

display: inline-block;


transition-property: border;
transition-duration: 0.3s;
transition-timing-function: ease;
}


.imagelist li:hover{
background-color:dimgray;
border-bottom:solid 1px white;
border-top:solid 1.5px white;
}


#image{
display:inline-block;
max-width:100%;
max-height: 100%;
padding:10px;
position:absolute;
top:0;
bottom:0;
left:0;
right:0;
margin:0px auto;
background: none;
display:inline-block;
}




/*IMAGE MODAL*/

.modal-backdrop{
top: 0;
right: 0;
bottom: 0;
left: 0;


  height: auto; 
background-color: #000;

}

.modal-backdrop.fade{

opacity:0.8;

}



.modal-dialog{
margin:0px auto;

max-width:100%;
max-height: 100%;

padding:0px;
text-align: center;
box-shadow: none;
border:none;
}

.close{
color:darkgray;
opacity: 1;
font-size: 1.5em;

}

.modal-header{
font-size: 1.2em;
height:auto;
padding: 0px;
margin:5px auto;
border:none;
}

.modal-header h4{
border-radius: 5px;

}


.modal-content{
background:none;
height:100%;
width:auto;
box-shadow: none;
border:none;
display: inline-block;
margin:0px;
padding:0px;
}

.modal-title{
color:white;
margin:0px auto;
margin-bottom:-15px;
}

#myModal p{
color:white;
font-size:1.5em;
text-align: center;
border-radius: 4px;
font-family: 'Josefin Sans', sans-serif;
margin:0px auto;
display: inline-block;
position: absolute;
top:25%;
left:00%;
height:200px;
width:100%;

}

#title{
position:absolute;
left:15%;
text-align: center;
}

#myModal a{
color:cadetblue;

}

 #myModal .modal-body img{
margin:0 auto;
max-width:100%;
max-height:100%;
 }

/* Images */
.iconcontainer{
padding:10px;    
}


#save{
display: inline-block;
float:left;
cursor: pointer;
padding:5px;
border-radius: 2px;
}

#trash{
display: inline-block;
float:right;
cursor: pointer;
padding:5px;
border-radius: 2px;
}

#save:hover{
background:cadetblue;
}

#trash:hover{
background:tomato;
}

/*Progress animation (http://projects.lukehaas.me/css-loaders/)*/
.loadcontainer{
margin:0px auto;
width:50px;
height:50px;
position: relative;
}

.loadcontainer p{
 width:150px;
 color:tomato;
    
}

.loader,
.loader:before,
.loader:after {
  background: cadetblue;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader {
  text-indent: -9999em;
  margin: 0em auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #FFF;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em #ffffff;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #FFF;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em #ffffff;
    height: 5em;
  }
}

/* States */
.hidden{
display:none;

}
