<!doctype html>
<html ng-app="redditApp">
    <head>
        <!--Fonts-->
        <link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Caudex' rel='stylesheet' type='text/css'>
        
        <!-- CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="//cdn.jsdelivr.net/qtip2/2.2.1/jquery.qtip.min.css">
        
        <!-- JS -->
        <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js">         </script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.min.js
"></script>
        <script src="//code.angularjs.org/1.3.9/angular-route.min.js"></script>
        <script src="https://rawgithub.com/gsklee/ngStorage/master/ngStorage.js"></script>
        <script src="app/angular-webstorage.min.js"></script>
        <script src="//cdn.jsdelivr.net/qtip2/2.2.1/jquery.qtip.min.js"></script>
        <script src="app/app.js"></script>
        <script src="app/controllers/mainController.js"></script>
        <script src="app/directives/paginateDirective.js"></script>
        <script src="app/directives/hoverDirective.js"></script>
        <script src="app/directives/dragDirective.js"></script>
        <script src="app/directives/deleteDirective.js"></script>
        <script src="app/directives/UserControls/saveDirective.js"></script>
        <script src="app/directives/UserControls/trashDirective.js"></script>
        <!--<script src="app/directives/autocompleteDirective.js"></script>-->
    </head>
        
        <header class="title"><h1>Rubidium</h1></header>

<body ng-controller="mainController">

        <!-- Text input and getting images. -->
        <div id ="inputwrapper">
            <input auto-complete ui-items="names" id = "subreddittext" type="text" ng-model = "sr" ng-change="populateImages(); resetPage()" placeholder="Enter a subreddit.">
            <button type="submit" ng-click="addSub()">+</button>
            
             <div class = "loadcontainer">
                <div class="loader  hidden">Loading...</div>
             </div>
        </div>
    
        <!-- Navigating the gallery. -->
    <div id ="pagenav">
        <div previous-page class="previouspage hidden" ng-dblclick="return false"></div>
        
            <h3 id="rtitle">{{subreddit}}</h3>
        
        <div next-page class="nextpage hidden"></div>
    </div>
    
    <!--Dummy div.-->
    <div ng-droppable id = "placeholderdiv">
        <h2>You haven't picked a subreddit.</h2>
        <h4>Type in a subreddit or drag and drop here if you've saved a list.</h4>
    
    </div> 
    
    <!-- Your locally saved list of subreddits. -->
    <div class = "subredditcontainer">
        <div class ="iconcontainer">
            <img save-list id="save" src="img/saveall.png">
            <img trash-list id="trash" src="img/trash.png">
        </div>
        <ul>
            <li ng-drag ng-repeat="sub in sublist track by $index"><span>{{sub}}</span><div ng-delete id = "closeitem">x</div></li>
        </ul>
    </div>

    <!-- Fetched images. -->
    <div id ="listcontain hidden">

        <ul ng-droppable class="imagelist">
    
            <li  ng-hover ng-repeat="subreddit in subreddits" ><img id="image" src='{{ subreddit.url }}'>
            </li>     
    
        </ul>
    </div>

    
    <!-- The typical enlarged image modal. -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>

            </div>
          <div class="modal-body">
              
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    
</body>
    
</html>
