<!doctype html>
<html ng-app="redditApp">
    <head>
        <!--Fonts-->
        <link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Caudex' rel='stylesheet' type='text/css'>
        
        <!-- CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="//cdn.jsdelivr.net/qtip2/2.2.1/jquery.qtip.min.css">
        <!-- JS -->
        <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js">         </script>
        <script src="//code.angularjs.org/1.3.9/angular.min.js"></script>
        <script src="//code.angularjs.org/1.3.9/angular-route.min.js"></script>
        <script src="//cdn.jsdelivr.net/qtip2/2.2.1/jquery.qtip.min.js"></script>
        <script src="js/app.js"></script>
    </head>
        
        <header class="title"><h1>Rubidium</h1></header>

<body ng-controller="mainController">

        <div id ="inputwrapper">
            <input id = "subreddittext" type="text" ng-model = "sr" ng-change="redditify(); resetPage()" placeholder="Enter a subreddit."> <!--<p class="page">Page: {{page}}</p>-->
        </div>
    

    <div id ="pagenav">
        <div class="previouspage hidden" ng-click="previouspage()" ng-dblclick="return false"></div>
            <h3 id="rtitle">{{subreddit}}</h3>
        <div class="nextpage hidden" ng-click = "nextpage()"></div>
    </div>
    
    <div id = "placeholderdiv">
        <h2>You haven't picked a subreddit.</h2>
    
    </div> 
    
    <div id ="listcontain">
        <ul class="imagelist">
    
            <li  ng-hover ng-repeat="subreddit in subreddits" ><img id="image" src='{{ subreddit.url }}'>
            </li>     
    
        </ul>
    </div>

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>

            </div>
          <div class="modal-body">
              
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    
</body>
    
</html>